.content1{
    width: 25%;
    margin: auto;
    align-content: center;
    border-color: blue;
    border-style: solid;
    padding: 30px;
    padding-left: 25;
    padding-right: 25;
    
}

.content2{
    width: 65%;
    margin: auto;
    align-content: center;
    border-style: solid;
    border-color: brown;
}